.fade_role {
  position: relative;
  height: auto;
}
.fade_role {
  /* background: #eee; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.first_img {
  background: url("../../../assets/images/slider_image.jpg");
  max-height: 50rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.first_img2 {
  background: url("../../../assets/images/slider_image2.jpg");
  max-height: 50rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.first_img3 {
  background: url("../../../assets/images/slider_image3.jpg");
  max-height: 50rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.content2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48rem;
}
.heading {
  color: #fff;

  font-size: 55px;
  font-weight: 700;
  line-height: 65px;
  text-transform: capitalize;
  margin: 0 0 25px 0;
  text-align: start;
}
.content {
  margin-left: 277px;
}

.off p {
  background: #fd0;
  color: #111;
  /* margin: auto; */
  width: 72%;
  font-size: 16px;
  font-weight: 700;
  float: unset;
  margin-top: 0;
  padding: 5px 20px;
  line-height: 32px;
}
.shop_buton {
  line-height: 24px;
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  border-bottom: 1px solid white;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  color: white;
  float: left;
  padding-left: 0px !important;
}
.Upper_row {
  background-color: #27364a;
}
.input {
  width: 100%;
}
.iocns i {
  background-color: #233042;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iocns i {
  color: white;
}
.Upper_row2 {
  height: 60px;
  align-items: center;
}
.input_fields {
  position: relative;
  display: flex;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: 0 0;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: 0;
}
.swiper-button-next,
.swiper-button-prev {
  background: #fd0;
  border: 2px solid #fd0;
  height: 40px !important;
  width: 40px !important;
  margin: auto;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  text-align: center;
  text-shadow: none;
  opacity: 1;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev";
  font-size: 12px !important;
  font-weight: 600;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
  font-size: 12px !important;
  font-weight: 600;
}
.swiper-button-next:before,
.swiper-button-prev:before {
  bottom: 0;
  background-image: none;
  color: #000;
  font-size: 24px;
  left: 0;
  line-height: 36px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  padding: 0;
  vertical-align: middle;
  font-family: "Material Icons";
  transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
}
span.swiper-pagination-bullet {
  background: white !important;
}
