.user--login--form label {
  color: #162171;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  line-height: normal;
}
.UserLogin {
  padding: 100px 0;
}

.user--login--form .form-control {
  border-radius: 0;
}
.user--login--form .form-control:focus {
  box-shadow: none;
  border-color: black;
}
.user--login--form .form-control::placeholder {
  text-transform: capitalize;
}

form.user--login--form {
  width: 100%;
  margin: auto;
  border-radius: 10px;

  padding: 60px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.passwordicon {
  position: absolute;
  top: 40px;
  right: 17px;
  cursor: pointer;
}

.errmessage {
  color: red;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
}
.create--account {
  margin-top: 20px;
}
.forget--password {
  font-size: 20px;
}

p.use--create--account,
.forget--password {
  margin-top: 20px;
  margin-bottom: 0;
  display: inline-block;
  font-size: 20px;
  margin-right: 20px;
  font-weight: 500;
  text-transform: capitalize;
}

.user--login--form .custom-btn {
  width: 100%;
}

.use--create--account a {
  text-transform: capitalize;
  color: #e73d8e;
  text-decoration: none;
}
.forget--password a {
  text-transform: capitalize;
  text-decoration: none;
  color: chocolate;
}

.forget--password a:hover {
  text-decoration: underline;
  color: #e73d8e;
}
.use--create--account a:hover {
  color: chocolate;
  text-decoration: underline;
}
